# Submission paperwork
paperwork/

# OSX files
.DS_Store

# LaTeX files
*.600pk
*.aux
*.bbl
*.blg
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.mf
*.out
*.tfm
*.toc
chapters/*/*-eps-converted-to.pdf
comment.cut
thesis*.pdf
